<h3>Create Shift Vehicles</h3>
  <%= simple_form_for @shift, url: create_shift_vehicles_path, method: :post do |f| %>
    <%= f.simple_fields_for @shift_vehicles do |ff| %>
      <%= ff.input :vehicle_id, collection: Vehicle.all, as: :check_boxes, label_method: "model" %>
    <% end %>
    <div>
    <%= f.button :submit, 'Choose Vehicles!' %>
  </div>
  <% end %>
