<p id="notice"><%= notice %></p>

<p>
  <strong>Completion:</strong>
  <%= @navigator.completion %>
</p>

<%= link_to 'Edit', edit_navigator_path(@navigator) %> |
<%= link_to 'Back', navigators_path %>
