<!DOCTYPE html>
<html lang="en">
<%= javascript_include_tag  "jquery" %>
<%= stylesheet_link_tag     "application" %>
<head></head>
<form id="personal-data" class="form-horizontal" method="POST" action="#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#1" data-toggle="tab">Tab1</a>
    </li>
    <li>
      <a href="#2" data-toggle="tab">Tab2</a>
    </li>
  </ul>
  <div class="tab-content">
  </form>
</html>
